<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>side bar</title>
  <link rel="stylesheet" href="./css/side-bar.css">
</head>
<body>
  <div class="sidebar">
    <div class="blocks">
      <div class="block">
        <i class="far fa-thumbs-up"></i>
        <i>Cam kết giá tốt nhất <br>Chúng tôi cam kết tới khách hàng những sản phẩm tốt nhất với mức thấp nhất</i>
      </div>
      <div class="block">
        <i class="fas fa-truck"></i>
        <i>Giao hàng toàn quốc <br>Giao hàng tới 64 tỉnh thành với giá cước hợp lý nhất. Đảm bảo thời gian tốt nhất.</i>
      </div>
      <div class="block">
        <i class="far fa-clock"></i>
        <i>Phục vụ 24/24<br>Giao hàng tới 64 tỉnh thành với giá cước hợp lý nhất. Thời gian đối với chúng tôi là vàng.</i>
      </div>
    </div>
    <div class="sideImage">
      <img src="./images/detail-product/quangCao.png">
    </div>
  </div>
</body>
</html>
