@import 'var';

body {
    font: 16px 'Open Sans', Arial, Helvetica, sans-serif;
}

.hero {
    .slide {
        .dots {
            margin-top: -2%;

            .dot {
                cursor: pointer;
                height: 10px;
                width: 10px;
                margin: 0 2px;
                border: 1px solid;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }

            .active {
                background-color: #000;
            }
        }

        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }
    }
}


main.index {
    padding: 30px 0;

    .categorys {
        display: flex;
        flex-direction: row;
        padding-bottom: 30px;

        .category {
            padding: 20px 0;
            flex: 33%;
            position: relative;
            font-family: Georgia, 'Times New Roman', Times, serif;

            img {
                width: 100%;
            }

            .title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                a {
                    position: relative;
                    text-transform: uppercase;
                    color: #333333;
                    font-weight: bold;
                    background-color: #fff;
                    padding: 10px 20px;


                    &:before {
                        content: '';
                        position: absolute;
                        border: 3px solid #fff;
                        height: 130%;
                        width: 120%;
                        top: -15%;
                        left: -10%;

                    }
                }

            }
        }
    }

    .handBook {
        text-align: center;
        padding: 20px 0;

        .container>.title {
            text-transform: uppercase;
            font-weight: bold;
        }

        .container>.icon {
            padding: 20px 0px;
            ;
        }

        .listHandBook {
            display: flex;
            flex-direction: row;

            .book {
                padding: 0px 10px;

                .img {
                    img {
                        width: 100%;
                    }
                }

                .title {
                    text-align: left;
                    font-weight: bold;
                }

                .text {
                    text-align: left;
                    font-size: 0.8em;
                }
            }

        }
    }
}


#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .link {
        position: absolute;
        color: #fff;

        a {
            color: #fff;
        }
    }
}

.comment {
    padding: 4rem 0;
}
