.detail-product {
  padding: 20px 0;
}
.detail-product .content {
  display: flex;
  flex-direction: row;
}
.detail-product .content .left {
  flex: 65%;
}
.detail-product .content .left .product {
  display: flex;
  flex-direction: row;
}
.detail-product .content .left .product > * {
  flex: 50%;
}
.detail-product .content .left .product .img img {
  width: 100%;
}
.detail-product .content .left .product .product__content {
  padding: 0 10px;
}
.detail-product .content .left .product .product__content > * {
  padding: 5px 0;
}
.detail-product .content .left .product .product__content .star i {
  color: #fbed11;
}
.detail-product .content .left .product .product__content .name {
  font-weight: bold;
}
.detail-product .content .left .product .product__content .id {
  font-size: 0.8em;
}
.detail-product .content .left .product .product__content .price {
  font-weight: bold;
  margin-bottom: 20px;
}
.detail-product .content .left .product .product__content .description {
  border: 1px dashed #b7b7b7;
  padding: 5px;
  font-size: 0.8em;
}
.detail-product .content .left .product .product__content .addToCard {
  margin-top: 20px;
}
.detail-product .content .left .product .product__content .addToCard a {
  padding: 10px;
  background-color: #55a007;
  text-transform: uppercase;
  color: #fff;
}
.detail-product .content .left .info {
  font-size: 0.8em;
  line-height: 2rem;
}
.detail-product .content .left .info .title {
  font-weight: bold;
  font-size: 1rem;
}
.detail-product .content .left .info .img {
  text-align: center;
  padding: 20px 0;
}
.detail-product .content .right {
  flex: 35%;
}