footer .info {
  background-color: #80b435;
}
footer .info .info__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .info .info__list .col {
  padding: 10px;
}
footer .info .info__list .col .title {
  color: #fff;
  padding: 10px 0;
}
footer .info .info__list .col ul li {
  color: #fff;
  font-size: 0.7em;
  padding: 5px 0px;
}
footer .copyright {
  text-align: center;
  padding: 15px 0;
}