.sidebar .blocks {
  display: flex;
  flex-direction: column;
}
.sidebar .blocks .block {
  padding: 10px 10px;
  border: 1px solid;
}
.sidebar .blocks .block:nth-child(2) {
  margin: 10px 0;
}
.sidebar .sideImage {
  padding-top: 20px;
}
.sidebar .sideImage img {
  width: 100%;
}